body, html, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: 'Pretendard', sans-serif;
}

.conversation-list-container {
    width: 393px;
    height: 852px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.page-header {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #f0f0f0;
}

.page-header h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #202020;
    line-height: 29px;
    letter-spacing: -0.16px;
}

.conversation-list {
    flex-grow: 1;
    overflow-y: auto;
}

.conversation-item {
    display: flex;
    padding: 16px 20px;
    border-bottom: 1px solid #f0f0f0;
    text-decoration: none;
    color: inherit;
}

.conversation-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
}

.conversation-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conversation-header {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.conversation-nickname {
    font-size: 16px;
    font-weight: 600;
    color: #202020;
    margin-right: 6px;
}

.conversation-book-title {
    font-size: 13px;
    color: #aeaeae;
    font-weight: 400;
    flex-grow: 1;
}

.conversation-time {
    font-size: 13px;
    color: #aeaeae;
    font-weight: 400;
    white-space: nowrap;
}

.conversation-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conversation-message p {
    margin: 0;
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.unread-count {
    background-color: #389D4F;
    color: white;
    font-size: 12px;
    font-weight: 700;
    border-radius: 50%;
    padding: 4px;
    min-width: 19px;
    height: 19px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 16px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}