/* src/pages/LoginPage.css */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

.login-container {
    background-color: white;
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Pretendard', sans-serif;
    padding: 20px;
    box-sizing: border-box;
}

.logo-section {
    position: relative;
    width: 97px; /* Adjust as needed for logo.png size */
    height: 76px; /* Adjust as needed for logo.png size */
    margin-top: 80px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.form-section {
    width: 100%;
    max-width: 352px;
}

.label {
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 14px;
    color: #444;
    margin-bottom: 5px;
    padding-left: 2px;
}

.input-container {
    background-color: #F3EFE1;
    border-radius: 5px;
    height: 42px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    border: none;
    background: transparent;
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 13px;
    color: #444;
}

.input-field::placeholder {
    color: #C4A76C;
}

.input-field:focus {
    outline: none;
}

.password-section {
    margin-top: 10px;
}

.login-button-section {
    width: 100%;
    max-width: 352px;
    margin-top: 20px;
}

.login-button {
    background-color: #389D4F;
    color: white;
    border: none;
    border-radius: 5px;
    height: 46px;
    width: 100%;
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.links-section {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 12px;
}

.link-text {
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 12px;
    color: #808080;
    cursor: pointer;
}

.separator-line {
    height: 10px;
}

.separator-img {
    display: block;
    height: 100%;
}

.signup-section {
    margin-top: 50px;
    text-align: center;
}

.signup-prompt {
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 12px;
    color: #808080;
}

.signup-link-container {
    display: inline-block;
    margin-top: 2px;
}

.signup-link {
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 12px;
    color: #389D4F;
    cursor: pointer;
}

.signup-link-underline {
    height: 1px;
    width: 100%;
}

.underline-img {
    display: block;
    width: 100%;
}